language: perl
perl:
    - "5.8"
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
    - "5.18"
notifications:
    #on_success: change
    on_success: always
    on_failure: always
    irc:
        channels:
            - "irc.perl.org#angel-PS1"
        template:
            - "%{branch}: %{message} %{build_url}"
    email: false
#before_install:
#    - perl -e 'require "sys/ioctl.ph"; print $INC{"sys/ioctl.ph"}, $/, "TIOCGWINSZ=", &TIOCGWINSZ, $/, "\$^O=", $^O, $/' || :
install:
    - cpanm --notest Test::More Test::More::UTF8 App::FatPacker Perl::Strip Git::Sub Test::MockTime Env::PS1 Term::Encoding || { cat ~/.cpanm/build.log ; false ; }
script:
    - echo "TERM=$TERM"
    #- echo ====================================================================
    #- dpkg -l bash dash mksh fish tcsh
    #- bash --version | head -n 1
    #- mksh -c 'echo $KSH_VERSION'
    #- fish --version
    #- tcsh --version
    #- echo ====================================================================
    - prove -lv t
    # Ensure that the script runs on a tty
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=bash --test" /dev/null
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=zsh  --test" /dev/null
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=dash --test" /dev/null
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=mksh --test" /dev/null
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=fish --test" /dev/null
    - script -q -c "perl -Ilib bin/angel-PS1 --shell=tcsh --test" /dev/null
    # Dump the environment, to see if we can have the Perl version...
    #- env
    # Test the build on perl 5.10+
    - test "$TRAVIS_PERL_VERSION" = 5.8 || { perl ./dist && perl -c ./angel-PS1 ; }
