language: perl
perl:
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
before_install:
    - perl -e 'require "sys/ioctl.ph"; print $INC{"sys/ioctl.ph"}, $/' || { ( ph=$PWD/ph; mkdir $ph; cd /usr/include ; h2ph -d $ph * sys/* ) && perl -Iph -e 'require "sys/ioctl.ph"; print $INC{"sys/ioctl.ph"}, $/' ; }
install:
    - cpanm --notest App::FatPacker Git::Sub || { cat ~/.cpanm/build.log ; false ; }
    - perl build.pl
script:
    - perl -c ./angel-PS1
    # Ensure that the script runs on a tty
    - script -q -c "perl ./angel-PS1" /dev/null
