language: perl
perl:
    - "5.8"
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
    - "5.18"
#before_install:
#    - perl -e 'require "sys/ioctl.ph"; print $INC{"sys/ioctl.ph"}, $/, "TIOCGWINSZ=", &TIOCGWINSZ, $/, "\$^O=", $^O, $/' || :
install:
    - cpanm --notest App::FatPacker Git::Sub Test::MockTime || { cat ~/.cpanm/build.log ; false ; }
    - perl build.pl
script:
    - echo "TERM=$TERM"
    - perl -c ./angel-PS1
    # Ensure that the script runs on a tty
    - script -q -c "perl ./angel-PS1 --shell=bash --test" /dev/null
    - script -q -c "perl ./angel-PS1 --shell=dash --test" /dev/null
    - script -q -c "perl ./angel-PS1 --shell=mksh --test" /dev/null
    - script -q -c "perl ./angel-PS1 --shell=fish --test" /dev/null
    - script -q -c "perl ./angel-PS1 --shell=tcsh --test" /dev/null
    - prove -lv t
